*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right, #000000, #000 , #ffffff);
}
p{
    margin: 0px;
    padding: 0px;
}
#curve{
    position: absolute;
    top: -185px;
    z-index: -1;
}

.set-title{
    color: #8e8e8e;
    font-weight: 700 !important; 
    font-size: 165%;
    width: 100%;
    letter-spacing: 3px;
    text-align: center;
}
.set-title span{
    color: #e4dfd8;
}
.h3-menu-website{
    color: #e4dfd8;
    font-weight: 700 !important; 
    padding: 20px;
    border-bottom: 1px solid #616040;
}

.menu-website{
    list-style: none;
}

.menu-website  li  a{
    display: block;
    text-decoration: none;
    color: #616040;
    padding: 20px 0px;
    width: 300px;
    margin: auto;
    margin-bottom: 10px;
    transition: all .3s;
    background-color: #e4dfd8;
    border-radius: 5px;
}
.menu-website > li > a:hover{
    background-color: beige;
    color: #232319;
}
/* =======================Cart-product============================== */
.section-cart{
    background-color: #e4dfd8;
    border-radius: 5px;
    position: fixed;
    z-index: 1;
    width: 650px;
    min-height: 500px;
    padding: 15px 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -250px);
    overflow: hidden;
    box-shadow: 3px 3px 50px 25px rgb(90 90 90);   
    transition: all .2s ease-in;
    opacity: 0;
    cursor: none;
    visibility: hidden;
}

.show{
    opacity: 1;
    cursor: default;
    visibility: visible;
}
.cart{
    position: absolute;
    right: 390px;
    top: 80px;
    z-index: 10;
    cursor: pointer;
}
.cart > i{
    z-index: 2;
}

.number-cart{
    color: white;
    position: absolute;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    top: -50%;
    right: -50%;
    background-color: black;
}


.product-cart{
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 25%;
    border-bottom: 1px solid #616040;
}

.product-cart > img{
    width: 25%;
    height: 75px;
}
.section-cart-notification{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 150%;
    display: block;
}
/* ====================Product=================================== */
.section-center{
    padding-bottom: 20px;
}
.product{
    text-align: center;
    align-items: center;
    height: 175px;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px rgb(153 152 152);
}
.img-product{
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
}

.picture-title{
    color: wheat;
    font-size: 120%;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,50%);
    transition: all .3s ease-in-out;
}

.product:hover .picture-title{
    opacity: 1;
    transform: translate(-50%,-50%);
}
.product:hover .img-product{
    transform: scale(1.1);
    filter: brightness(55%) blur(2px);
}
/* ===================================================================== */
.banner-container{
    padding: 100px 0;
}
.show-xs{ 
    display: none;
}
.menu{
    position: absolute !important;
    top: 70px;
    left: 10px;
    z-index: 3;
}
.menu-website > li > a{
    width: 380px;
    padding: 20px 30px;
}
@media (max-width: 575.98px) { 
    .cart{
        right: 30px;
        top: 70px;
    }
    .set-xs{
        display: none;
    }
    .show-xs{
        display: block;
    }
    .section-cart{
        width: 96vw;
    }
    .section-cart-notification{
        font-size: 132%;
    }
    .product{
        width: 80%;
        margin: auto;
    }
    .product-cart{
        flex-direction: column;
    }
    .product-cart > img {
        width: 36%;
        height: 80px;
    }
    .set-dropdownmenu{
        padding: 10px;
        box-shadow: 3px 3px 50px 25px rgb(90 90 90);
    }
    .banner-container{
        display: none;
    }
    .h3-menu-website {
        text-align: center;
        color: black;
    }
 }